@page
@model ElProApp.Web.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel

<h2>Провери имейла си</h2>

<p>
    На този имейл, ще получиш линк за смяна на паролата.
</p>

<a href="/Identity/Account/Login">Към вход</a>