@page
@model ElProApp.Web.Areas.Identity.Pages.Account.RegisterConfirmationModel

<h2>Потвърди имейла си</h2>

<p>Изпратихме имейл на <b>@Model.Email</b>.</p>
<p>Моля, отвори пощата си и кликни линка за потвърждение.</p>

<a href="/">Начало</a>
