@model dynamic

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Основна информация</h5>
        <p><strong>Име:</strong> @Model.Name</p>
        <p><strong>Локация:</strong> @Model.Location</p>
    </div>
</div>
