@model IEnumerable<ElProApp.Data.Models.Mappings.BuildingTeamMapping>

@if (Model != null && Model.Any(te => te.Team != null))
{
    <select class="form-select" onchange="location.href=this.value;">
        <option selected disabled>Изберете екип за информация</option>
        @foreach (var teamMapping in Model.Where(te => te.Team != null))
        {
            <option value="@Url.Action("Details", "Team", new { id = teamMapping.Team.Id })">
                @teamMapping.Team.Name
            </option>
        }
    </select>
}
else
{
    <span class="text-muted">Няма свързани екипи</span>
}
