@using ElProApp.Services.Data.Interfaces
@model IQueryable<IDeletableEntity>

<h2>Изтрити записи</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Име</th>
                <th>Дата на изтриване</th>
                <th>Възстанови</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in Model)
            {
                <tr>
                    <td>@entity.Name</td>
                    <td>@entity.DeletedDate</td>
                    <td>
                        <form method="post" asp-action="DeletedEntities" asp-route-id="@entity.Id">
                            <input type="hidden" name="entityType" value="@entity.GetType().Name" />
                            <button type="submit" class="btn btn-primary">Възстанови</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Няма изтрити записи.</p>
}
