@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в сайта на Ел Про БГ!</h1>
    <p>Тук можете да регистрирате свършената работа по проектите на фирмата.</p>
</div>

<div class="container mt-5">
    <h2>За нас</h2>
    <p>Ел Про БГ е фирма, специализирана в...</p>
    <h2>Контакти</h2>
    <p>Ако имате въпроси, свържете се с нас на: <a href="mailto:office@elprobg.com">info@elprobg.com</a></p>
</div>
