@using ElProApp.Web.Models.Material
@model MaterialInputModel

<div class="page-container">

    <h2 class="section-title">Добавяне на материал</h2>

    <form asp-action="Add" method="post">

        <div class="mb-3">
            <label>Име на материала</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-success">Добави</button>
            <a asp-action="All" class="btn btn-primary">Назад</a>
        </div>

    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}