@using ElProApp.Web.Models.JobDone
@model ICollection<JobDoneViewModel>
@{
    ViewData["Title"] = "Всички изпълнени задачи";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Списък с изпълнени задачи</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Работа</th>
                <th>Екипи</th>
                <th>Количество</th>
                <th>Дни за изпълнение</th>               
            </tr>
        </thead>
        <tbody>
            @foreach (var jobDone in Model)
            {
                <tr>
                    <td>@jobDone.Job.Name</td>
                    <td>
                        @foreach (var team in jobDone.TeamsDoTheJob)
                        {
                            <span class="badge bg-primary">@team.Team.Name</span>
                        }
                    </td>
                    <td>@jobDone.quantity</td>
                    <td>@jobDone.DaysForJob</td>                    
                </tr>
            }
        </tbody>
    </table>
</div>