@using ElProApp.Web.Models.JobDone
@model JobDoneEditInputModel


<div class="container mt-4">
    <h1 class="display-4 text-center">Редактиране на задача</h1>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="JobId" />

        <div class="form-group">
            <label asp-for="quantity" class="control-label">Количество</label>
            <input asp-for="quantity" class="form-control" />
            <span asp-validation-for="quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DaysForJob" class="control-label">Дни за изпълнение</label>
            <input asp-for="DaysForJob" class="form-control" />
            <span asp-validation-for="DaysForJob" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Работа</label>
            <p class="form-control-plaintext">@Model.Job.Name</p>
            <input type="hidden" asp-for="Job.Id" />
            <input type="hidden" asp-for="Job.Name" />
            <input type="hidden" asp-for="Job.Price" />
        </div>
        <div class="form-group">
            <label class="control-label">Екип</label>
            <ul class="list-group">
                @Model.Team.Name
                <input type="hidden" asp-for="TeamId" />
                <input type="hidden" asp-for="Team.Name" />
            </ul>
        </div><div class="form-group">
            <label class="control-label">Сграда</label>
            <ul class="list-group">
                @Model.Building.Name
                <input type="hidden" asp-for="BuildingId" />
                <input type="hidden" asp-for="Building.Name" />
                <input type="hidden" asp-for="Building.Location" />
            </ul>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Запази промените</button>
    </form>

    <a asp-action="All" class="btn btn-secondary mt-3">Обратно към всички</a>
</div>