@using ElProApp.Web.Models.Job
@model JobInputModel

<div class="container mt-4">
    <h1 class="display-4 text-center">
        @if (Model.Id == Guid.Empty)
        {
            <text>Създаване на нова дейност</text>
        }
        else
        {
            <text>Редактиране на дейност - @Model.Name</text>
        }
    </h1>

    <form asp-action="Add" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name" class="control-label">Име на дейността</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label">Цена</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success btn-sm">Добави работа</button>
        <a asp-action="All" class="btn btn-secondary">Списъка с работа</a>
        <a asp-controller="Home" asp-action="index" class="btn btn-secondary">Начална страница</a>
        </div>
    </form>
    
    
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
