@using ElProApp.Web.Models.Job
@model ICollection<JobViewModel>

<h1>Списък с работа</h1>

<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Цена за 1 бр / 1 метър</th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.Name</td>
                <td>@job.Price.ToString("C2", new System.Globalization.CultureInfo("bg-BG"))</td>               
            </tr>
        }
    </tbody>
</table>
<a asp-area="" asp-controller="Job" asp-action="Add" class="btn btn-success btn-sm">Добави</a>

