@using ElProApp.Web.Models.Employee
@using System.Security.Claims
@model ICollection<EmployeeViewModel>

@{
    ViewData["Title"] = "Списък със служители";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Списък със служители</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Име</th>
                <th>Фамилия</th>
                <th>Информация за екипи</th>
                <th>Информация</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.LastName</td>
                    <td>
                        @if (employee.TeamsEmployeeBelongsTo != null && employee.TeamsEmployeeBelongsTo.Any(te => te != null))
                        {
                            <select class="form-select" onchange="location.href=this.value;">
                                <option selected disabled>Изберете екип за информация</option>
                                @foreach (var teamMapping in employee.TeamsEmployeeBelongsTo.Where(te => te != null))
                                {
                                    <option value="@Url.Action("Details", "Team", new { id = teamMapping.Team.Id })">
                                        @teamMapping?.Team?.Name
                                    </option>
                                }
                            </select>
                        }
                        else
                        {
                            <p>Няма екипи за този служител.</p>
                        }
                    </td>
                    <td>
                        @{
                            var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            if (employee.UserId == currentUserId)
                            {
                                <a asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning btn-sm">Информация за служителя</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-between">        
        <a asp-controller="Home" asp-action="index" class="btn btn-secondary">Начална страница</a>
    </div>
</div>
