@using ElProApp.Web.Models.Employee
@model EmployeeEditInputModel

@{
    ViewData["Title"] = "Редактиране";
}

<div class="page-container">

    <h2 class="section-title">Редактиране: @Model.Name @Model.LastName</h2>

    <form asp-action="Edit" method="post">

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="MoneyToTake" />

        <div class="mb-3">
            <label class="form-label">Име</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Фамилия</label>
            <input asp-for="LastName" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Дневно възнаграждение</label>
            <input asp-for="Wages" class="form-control" />
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="mb-3">
                <label class="form-label">Заработка</label>
                <input asp-for="MoneyToTake" class="form-control" />
            </div>
        }

        <div class="mt-3">
            <button type="submit" class="btn btn-success">Запази</button>
            <a asp-action="All" class="btn btn-primary">Назад</a>
        </div>

    </form>

</div>