body, html {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.vertical-text {
    writing-mode: vertical-rl; 
    text-orientation: upright; 
    transform: rotate(0deg); 
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: transparent !important; 
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1050;
}

