@using ElProApp.Web.Models
@model ErrorViewModel

<div class="error-container">
    <h1>500 Грешна заявка</h1>
    <p>@Model.ErrorMessage</p>

    @if (Model.ShowRequestId)
    {
        <p>Request ID: @Model.RequestId</p>
    }

    <a href="@Url.Action("Index", "Home")">Към начална страница</a>
</div>
