<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">El Pro Web App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item mx-auto">
                    <form method="get" asp-area="" asp-controller="Search" asp-action="Search" class="d-flex align-items-center justify-content-center">
                        <input type="text" name="query" class="form-control form-control-sm me-2" placeholder="Търсене..." />
                        <select name="searchIn" class="form-control form-control-sm me-2">
                            <option value="">Търсене навсякъде</option>
                            <option value="Employee">Служители</option>
                            <option value="Building">Сгради</option>
                            <option value="Team">Екипи</option>
                            <option value="JobDone">Свършена работа</option>
                            <option value="Job">Работа</option>
                        </select>
                        <button type="submit" class="btn btn-outline-secondary btn-sm">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</nav>
