@model ElProApp.Web.Models.Building.BuildingInputModel
@{
    ViewData["Title"] = "Добавяне";
}

<div class="page-container">

    <h2 class="section-title">Добавяне на сграда</h2>

    <form asp-action="Add" method="post">

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Име</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Location" class="form-label">Локация</label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-success">Добави</button>
            <a asp-action="All" class="btn btn-primary">Назад</a>
        </div>

    </form>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}