@using ElProApp.Web.Models.Building
@model ICollection<BuildingViewModel>

@{
    ViewData["Title"] = "Всички сгради";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Списък на всички сгради</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Име на сградата</th>
                    <th>Локация</th>
                    <th>Екипи към сградата</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var building in Model)
                {
                    <tr>
                        <td>@building.Name</td>
                        <td>@building.Location</td>
                        <td>
                            @if (building.TeamsOnBuilding.Any())
                            {
                                <ul>
                                    @foreach (var team in building.TeamsOnBuilding)
                                    {
                                        <li>
                                            <a asp-controller="Team" asp-action="Details" asp-route-id="@team.Team.Id">
                                                @team.Team.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span>Няма екипи към тази сграда.</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
