@using ElProApp.Web.Models.Building
@model ICollection<BuildingViewModel>

@{
    ViewData["Title"] = "Всички сгради";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Списък на всички сгради</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Име на сградата</th>
                    <th>Локация</th>
                    <th>Екипи към сградата</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var building in Model)
                {
                    <tr>
                        <td>@building.Name</td>
                        <td>@building.Location</td>
                        <td>

                            @if (building.TeamsOnBuilding != null && building.TeamsOnBuilding.Any(te => te != null))
                            {
                                <select class="form-select" onchange="location.href=this.value;">
                                    <option selected disabled>Изберете екип за информация</option>
                                    @foreach (var teamMapping in building.TeamsOnBuilding.Where(te => te != null))
                                    {
                                        <option value="@Url.Action("Details", "Team", new { id = teamMapping.Team.Id })">
                                            @teamMapping?.Team?.Name
                                        </option>
                                    }
                                </select>
                            }

                            else
                            {
                                <span>Няма екипи към тази сграда.</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <a asp-controller="Home" asp-action="index" class="btn btn-secondary">Начална страница</a>
        </div>
    </div>
</div>
