@model IEnumerable<ElProApp.Web.Models.Building.BuildingViewModel>
@{
    ViewData["Title"] = "Списък със сгради";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Списък със сгради</h1>

    <div class="d-flex justify-content-between mb-2">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Начална страница</a>
        <a asp-controller="Building" asp-action="Add" class="btn btn-success btn-sm">Добави сграда</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Име на сградата</th>
                    <th>Локация</th>
                    <th>Екипи</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var building in Model)
                {
                    <tr>
                        <td>@building.Name</td>
                        <td>@building.Location</td>
                        <td>
                            @await Html.PartialAsync("Partials/_BuildingTeamsPartial", building.TeamsOnBuilding)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
