@model ElProApp.Web.Models.Building.BuildingViewModel
@{
    ViewData["Title"] = "Детайли за сграда";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Детайли за сграда: @Model.Name</h1>

    @await Html.PartialAsync("Partials/_BuildingInfoPartial", Model)
    @await Html.PartialAsync("Partials/_BuildingTeamsPartial", Model.TeamsOnBuilding)
    @await Html.PartialAsync("Partials/_BuildingMaterialsPartial", Model.Materials)

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактиране</a>
        <a asp-action="All" class="btn btn-secondary">Списък със сгради</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Начална страница</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
