@model ElProApp.Web.Models.Building.BuildingViewModel
@{
    ViewData["Title"] = "Детайли";
}

<div class="page-container">

    <h2 class="section-title">Сграда: @Model.Name</h2>

    @await Html.PartialAsync("Partials/_BuildingInfoPartial", Model)
    @await Html.PartialAsync("Partials/_BuildingTeamsPartial", Model.TeamsOnBuilding)
    @await Html.PartialAsync("Partials/_BuildingMaterialsPartial", Model.Materials)

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">
            Редактирай
        </a>

        <a asp-action="All" class="btn btn-primary">
            Назад
        </a>
    </div>

</div>